In [1]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier
import seaborn as sb

houseDf = pd.read_csv("kc_house_data.csv")

houseDf.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [ ]:
houseDf.info()

In [ ]:
houseDf.describe()

In [ ]:
houseDf = houseDf.drop(['id','date', 'lat', 'long'], axis =1)

houseDf.head(3)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt


plt.figure(figsize=(20, 8))
sb.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": 2.5})
sb.stripplot(x="bedrooms", y="price", data=houseDf);

In [ ]:
sb.countplot(x='bedrooms',data=houseDf, palette='hls')

In [ ]:
plt.figure(figsize=(28, 8))
sb.barplot(x="bedrooms", y="price", hue="grade", data=houseDf);

In [ ]:
plt.figure(figsize=(70, 12))
sb.stripplot(x="yr_built", y="bedrooms", data=houseDf);

In [ ]:
sb.heatmap(houseDf.corr())

In [ ]:
columns = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade','sqft_above', 'sqft_basement', 'yr_built','yr_renovated', 'sqft_living15', 'sqft_lot15']
targets = houseDf['price'].values
features = houseDf[list(columns)].values

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.30)